.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20vw;
  height: auto;
  background: black;
  border: 1px solid RGB(91, 14, 135);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10rem;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: White;
  font-weight: bold;
  font-size: 20px;
}

.option {
  padding: 10px 20px;
  width: 100%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: RGB(44, 147, 203, 0.5);
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
}

.option:hover {
  background-color: #2c93cb;
}

.option.selected {
  background: #eee;
  color: #222;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  color: white;
}

.NetworkSelect {
  background: blue;
  color: white;
  width: 20rem;
  display: flex-col;
  justify-content: center;
  outline: 0;
  margin-top: 0.75rem;
  margin-right: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  z-index: 10000;
}

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #156dbf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -25.56%,
    #33bbcf -78.47%,
    #214d76 91.61%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(
    125.17deg,
    rgba(255, 255, 255, 0.6) 0%,
    #214d76 0%
  ); /*blue*/
}

.styled-element {
  padding-top: 0.5rem; 
  padding-right: 2rem; 
  margin-left: 2rem; 
  background-color: #3f51b5; 
  border-radius: 10px; 
  font-family: Poppins, sans-serif; 
  font-weight: 500; 
  font-size: 14px; 
  color: white; 
  cursor: pointer; 
  outline: none; 
}